* {
    box-sizing: border-box;
}

html, body {            /* Content fills the whole page */
    margin: 0;          
    height: 100%;
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0rem 1rem;
}

@media (min-width: 376px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.header {
    color: white;
}

.header > h1 {
    text-align: center;
    margin: 5rem 0rem 0rem 0rem;
}

.header > p {
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 376px) {
    .header {
        width: 27rem;
        margin: 0rem 6rem;
    }

    .header > h1 {
        font-size: 3rem;
        text-align: start;
    }

    .header > p {
        margin-bottom: 0;
        text-align: start;
        margin: 3rem 0rem ;
    }
}

.title > p {
    font-size: 1rem;
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 2rem 0px;
    font-weight: 10;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 376px) {
    .title > p {
        padding: 1rem 0rem;
    }
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form {
    background-color: white;
    border-radius: 8px;
    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

.field {
    padding-top: 0.5rem;
}

@media (min-width: 376px) {
    .field {
        padding-top: 1.5rem;
    }

    form {
        padding: 0rem 3rem 1.5rem 3rem;
    }
}

ul {
    padding: 0;
    margin: 0;
}

input, button{
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
}

input {
    padding: 1rem 0rem 1rem 1.5rem;
    border-color: rgba(0, 0, 0, 0.156);
    border-width: 0.091rem;
    border-radius: 4px;
    font-size: 1rem;
}

input::placeholder {
    color: black;
    opacity: 0.6;
}

input:invalid {
    border: hsl(0, 100%, 74%)  2px solid;
}

button {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border-width: 0;
    border-radius: 4px;
    padding: 0.75em;
    box-shadow: 0px 4px 0px 0px rgba(0, 100, 0, 0.53);
}

.field > p {
    color: rgba(0, 0, 0, 0.296);
    text-align: center;
    font-size: 1rem;
}

.orange {
    color: rgb(255, 89, 0);
    opacity: 1;
}