@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html, body {            /* Content fills the whole page */
    margin: 0;          
    height: 100%;
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0rem 1rem;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 376px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1281px) {
    body {
        flex-direction: column ;
    }
}

.header {
    color: white;
}

.header > h1 {
    text-align: center;
    margin: 5rem 0rem 0rem 0rem;
    font-weight: 700;
}

.header > p {
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 376px) {
    .header {
        width: 27rem;
        margin: 0rem 6rem;
    }

    .header > h1 {
        font-size: 3rem;
        text-align: start;
        line-height: 1;
    }

    .header > p {
        margin-bottom: 0;
        text-align: start;
        margin: 3rem 0rem ;
    }
}

.title > p {
    font-size: 1rem;
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 2rem 0px;
    font-weight: 10;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 376px) {
    .title > p {
        padding: 1rem 0rem;
    }
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form {
    background-color: white;
    border-radius: 8px;
    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

.field {
    padding-top: 0.5rem;
    font-size: 1rem;
}

@media (min-width: 376px) {
    .field {
        padding-top: 1.5rem;
    }

    form {
        padding: 0rem 3rem 1.5rem 3rem;
    }
}

ul {
    padding: 0;
    margin: 0;
}

input, button{
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
}

input {
    padding: 1rem 0rem 1rem 1.5rem;
    border-color: rgba(0, 0, 0, 0.156);
    border-width: 0.091rem;
    border-radius: 4px;
    font-size: 1rem;
}

input::placeholder {
    color: black;
    opacity: 0.6;
}

button {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border-width: 0;
    border-radius: 4px;
    padding: 0.75rem;
    box-shadow: 0px 4px 0px 0px rgba(0, 100, 0, 0.53);
    cursor: pointer;
}

button:hover {
    background-color: hsla(154, 59%, 51%, 0.725);
}

.TOS {
    color: rgba(0, 0, 0, 0.296);
    text-align: center;
    font-size: 1rem;
}

.orange {
    color: rgb(255, 89, 0);
    opacity: 1;
}

[id^='help'] {                              /* Learned this from TOP. This would apply styles to ID's with the same value. */
    color: hsl(0, 100%, 74%);               /* used " ^= " to match string value from the start */
    padding: 0;
    margin: 0.5rem 0 0 0;
    float: right;
    font-size: 0.75rem;
    display: none;
}


#first-name:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
    background: url(./images/icon-error.svg) no-repeat 95%;
}

#first-name:not(:focus):not(:placeholder-shown):invalid ~ #help-1 {
    display: inline-block; 
}

#last-name:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
    background: url(./images/icon-error.svg) no-repeat 95%;
}

#last-name:not(:focus):not(:placeholder-shown):invalid ~ #help-2 {
    display: inline-block; 
}

#email:not(:active):not(:placeholder-shown):invalid {
    border: 2px solid red;
    background: url(./images/icon-error.svg) no-repeat 95%;
}

#email:not(:focus):not(:placeholder-shown):invalid ~ #help-3 {
    display: inline-block; 
}

#password:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
    background: url(./images/icon-error.svg) no-repeat 95%;
}

#password:not(:focus):not(:placeholder-shown):invalid ~ #help-4 {
    display: inline-block; 
}